In [1]:
#intro to pandas
#2 type of data structure
#series, dataframe

#[1]series: uniform or same of data-[1, 2.5, 3, 4, 5.012] in data frame
it is one dimensional 
#[2]dataframe: tabular spread sheet contains diff type of data
it is two dimensional

In [120]:
import numpy as np
import pandas as pd

In [121]:
dict1={"no":[1,2,3,4,5],"name":["sita","gita","Kamla","ramu","sonu"],"marks":[10,20,30,40,50],"null":[300,0,400,100,0]}
dict1

{'no': [1, 2, 3, 4, 5],
 'name': ['sita', 'gita', 'Kamla', 'ramu', 'sonu'],
 'marks': [10, 20, 30, 40, 50],
 'null': [300, 0, 400, 100, 0]}

## df=pd.DataFrame(dict1)
df

In [ ]:
#create a casv file in c folder
df.to_csv("friend.csv")

In [39]:
#only 2 coloumn you need
df.head(2)

   no  name  marks  null
0   1  sita     10   300
1   2  gita     20     0

In [175]:
#check is there any null value is there or not ?
#not null value in columns showing false, if null value show true
df.isnull()
df.isnull()["no"]

0    True
1    True
2    True
3    True
4    True
Name: no, dtype: bool

## insert None value in a whole coloumn
df["no"] = None
df

In [177]:
#which coloumn you need give a referance colomn name 
#change the value also work
df['name']
df['name'][1] = "shamu"
df

<ipython-input-177-7e796b571dfe>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['name'][1] = "shamu"

     no   name  marks  null     1
0  None   sita     10   300  None
1  None  shamu    500     0  None
2  None  Kamla     30   400  None
3  None   ramu     40   100  None
4  None   sonu     50     0  None

In [131]:
#statistical analysis of "df"
df.describe()

             no       marks        null
count  5.000000    5.000000    5.000000
mean   3.000000  126.000000  160.000000
std    1.581139  209.594847  181.659021
min    1.000000   10.000000    0.000000
25%    2.000000   30.000000    0.000000
50%    3.000000   40.000000  100.000000
75%    4.000000   50.000000  300.000000
max    5.000000  500.000000  400.000000

*******************************************************************************************************
practice

In [135]:
#craete a data frame random integer 334 rows with 5 columns ................................................
newdf=pd.DataFrame(np.random.rand(334,5))
newdf.head(3)

          0         1         2        3         4
0  0.159995  0.172297  0.533081  0.10610  0.210327
1  0.814612  0.638734  0.444037  0.14647  0.267112
2  0.863329  0.727056  0.992266  0.55859  0.578404

In [80]:
#define how many index and coloumn in data frame
newdf.index
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [133]:
#drop() funcion ..............................................
#axis (0 = row & axis = 1column)
#delete 0 columns in the table ?
newdf.drop(0,axis=1)
newdf.head(3)

            0         1         2         3         4
0  120.000000  0.670000  0.681886  0.061229  0.019314
1    0.056339  0.573863  0.936926  0.710331  0.872983
2    0.137081  0.019170  0.127668  0.760347  0.966551

In [138]:
#rename columns name of the table ?....................................
newdf1=newdf.rename(columns={1:"first", 2:"second",3:"third",4:"four"})
newdf1.head()

          0     first    second     third      four
0  0.159995  0.172297  0.533081  0.106100  0.210327
1  0.814612  0.638734  0.444037  0.146470  0.267112
2  0.863329  0.727056  0.992266  0.558590  0.578404
3  0.448526  0.080796  0.144069  0.198494  0.961629
4  0.655647  0.926866  0.065945  0.779409  0.732332

In [ ]:
#loc() function call row and column by rows 
#iloc() call row and column by indexing [0,1,2,3,4] .................................................

In [189]:
#if change only one coloumn value is a data table?
newdf.loc[:, [0]]=3
newdf.head()

     0         1         2         3         4
0  3.0  0.670000  0.533081  0.106100  0.210327
1  3.0  0.638734  0.444037  0.146470  0.267112
2  3.0  0.727056  0.992266  0.558590  0.578404
3  3.0  0.080796  0.144069  0.198494  0.961629
4  3.0  0.926866  0.065945  0.779409  0.732332

In [160]:
#loc() function 
#change value in any row 
newdf.loc[0,1]=0.67
newdf.head(3)

          0         1         2        3         4
0  0.159995  0.670000  0.533081  0.10610  0.210327
1  0.814612  0.638734  0.444037  0.14647  0.267112
2  0.863329  0.727056  0.992266  0.55859  0.578404

In [143]:
#loc()
#you need speacfic row & columns 
#convert it into 2 dimension matrix
newdf1=newdf1.loc[[1,2],["third","four"]]
newdf1.head()

     third      four
1  0.14647  0.267112
2  0.55859  0.578404

In [148]:
newdf

            0         1         2         3         4
0    0.159995  0.172297  0.533081  0.106100  0.210327
1    0.814612  0.638734  0.444037  0.146470  0.267112
2    0.863329  0.727056  0.992266  0.558590  0.578404
3    0.448526  0.080796  0.144069  0.198494  0.961629
4    0.655647  0.926866  0.065945  0.779409  0.732332
..        ...       ...       ...       ...       ...
329  0.910128  0.200905  0.230161  0.706347  0.799764
330  0.410661  0.676944  0.611404  0.109404  0.281986
331  0.140047  0.377114  0.677785  0.879195  0.160007
332  0.731178  0.598918  0.125602  0.755638  0.667609
333  0.270240  0.280272  0.223638  0.443903  0.453067

[334 rows x 5 columns]

In [147]:
#loc()
#if you need 1st two rows ?
newdf2=newdf.loc[[1,2],:]
newdf2

          0         1         2        3         4
1  0.814612  0.638734  0.444037  0.14647  0.267112
2  0.863329  0.727056  0.992266  0.55859  0.578404

In [151]:
newdf

            0         1         2         3         4
0    0.159995  0.172297  0.533081  0.106100  0.210327
1    0.814612  0.638734  0.444037  0.146470  0.267112
2    0.863329  0.727056  0.992266  0.558590  0.578404
3    0.448526  0.080796  0.144069  0.198494  0.961629
4    0.655647  0.926866  0.065945  0.779409  0.732332
..        ...       ...       ...       ...       ...
329  0.910128  0.200905  0.230161  0.706347  0.799764
330  0.410661  0.676944  0.611404  0.109404  0.281986
331  0.140047  0.377114  0.677785  0.879195  0.160007
332  0.731178  0.598918  0.125602  0.755638  0.667609
333  0.270240  0.280272  0.223638  0.443903  0.453067

[334 rows x 5 columns]

In [159]:
#loc()
condition apply and or condition
#"&,and" "|,or" operator in pandas
c=newdf.loc[(newdf[0]<0.3) & (newdf[1]>0.1)]
c

            0         1         2         3         4
0    0.159995  0.172297  0.533081  0.106100  0.210327
1    0.814612  0.638734  0.444037  0.146470  0.267112
2    0.863329  0.727056  0.992266  0.558590  0.578404
4    0.655647  0.926866  0.065945  0.779409  0.732332
5    0.844824  0.850684  0.758924  0.946737  0.165312
..        ...       ...       ...       ...       ...
329  0.910128  0.200905  0.230161  0.706347  0.799764
330  0.410661  0.676944  0.611404  0.109404  0.281986
331  0.140047  0.377114  0.677785  0.879195  0.160007
332  0.731178  0.598918  0.125602  0.755638  0.667609
333  0.270240  0.280272  0.223638  0.443903  0.453067

[307 rows x 5 columns]

In [ ]:
#iloc()
#iloc() call row and column by indexing [0,1,2,3,4] ...........................................

In [161]:
#axes only the value 1st row 4th coloumn value? 
newdf.iloc[0,4]

0.2103266955675982

In [163]:
#only selected coloumn full 1st row and 4 th row [3&4 columns only]
newdf.iloc[[0,4],[3,4]]

          3         4
0  0.106100  0.210327
4  0.779409  0.732332

In [ ]:
dropna & fillna..................